<!-- modal -->
<div
  class="modal fade"
  id="weatherModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
  #activityModal
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weatherModalLabel">Huidig weer in {{country}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- content -->
        <div *ngIf="weatherinfo$ | async as weather">
          <!-- ! divke is meer om te loggen wat de lat lng en code zijn, moet nog weggedaan worden -->
            <!-- <div>
                {{lat}} {{lng}} {{code}}
            </div> -->
            <div>
              <p>Gevoelstemperatuur: {{weather.main.feels_like}} °C</p>
              <p>Weer: {{weather.weather[0].description}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
