<div class="container rounded bg-white mb-5">
    <div class="row" *ngIf="auth.user$ | async as user">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{user.picture}}">
                <span class="font-weight-bold">{{user.nickname}}</span><span> </span></div>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <!-- TODO: zorgen dat je het ook echt kan bewerken -->
                    <h4 class="text-right">Profiel informatie</h4>
                </div>
                <div class="row mt-2" >
                    <div class="col-md-12"><label class="labels mb-1">Naam</label><input type="text" class="form-control mb-2" placeholder="naam" value="{{user.name}}"></div>
                    <div class="col-md-12"><label class="labels mb-1">Email</label><input type="text" class="form-control mb-2" value="{{user.email}}" placeholder="email"></div>
                </div>
                <!-- <div class="mt-5 text-center"><button class="btn profile-button profiel" type="button"><i class="fa-solid fa-floppy-disk"></i>&nbsp; Opslaan</button></div> -->
            </div>
        </div>
    </div>
</div>

