.watch{
    border: 1.5px solid #4e7779;
    color: #4e7779; 
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    background-color: white;
}
.watch:hover{
    background-color: #4e7779;
    color: white; 
}
.back{
    border: 1.5px solid #4e7779;
    color: #4e7779; 
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
}
.back:hover{
    background-color: #4e7779;
    color: white; 
}