<div class="container">
  <h1 class="text-center">Bewerk je "{{trip.name}}" trip</h1>

  <form #EditTripForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <!-- name fields -->
      <div class="form-group m-2 col-5">
        <label for="naamTrip">Naam *</label>
        <input type="text" class="form-control" id="naamTrip" placeholder="Geef je trip een nieuwe naam" required
          [(ngModel)]="trip.name" name="naamTrip" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Naam is verplicht</div>
      </div>

      <!-- tripType fields -->
      <div class="form-group m-2 col-5" *ngIf="tripType$ | async as tripType">
        <label for="typeTrip">Soort trip *</label>
        <select id="typeTrip" name="typeTrip" class="form-control" [(ngModel)]="trip.tripType.id" #tripTypeId="ngModel"
          required>
          <option disabled selected>Welke soort trip ga je maken?</option>
          <option *ngFor="let type of tripType" [value]="type.id">{{ type.name }}</option>
        </select>
        <div [hidden]="tripTypeId.value || tripTypeId.pristine" class="alert alert-danger" role="alert">
          Selecteer een soort trip.
        </div>
      </div>
    </div>


    <div class="form-row">
      <!-- depart date fields-->
      <div class="form-group m-2 col-5">
        <label for="vertrekDatumTrip">Vertrek datum *</label>
        <input type="datetime-local" class="form-control" id="vertrekDatumTrip" name="vertrekDatumTrip" required
          [(ngModel)]="trip.departDate" #vertrekDatumTrip="ngModel">
          <div [hidden]="vertrekDatumTrip.valid || vertrekDatumTrip.pristine" class="alert alert-danger">
            Vertrek datum is verplicht.
          </div>
          <div *ngIf="trip.departDate > trip.returnDate" class="alert alert-danger">
            Vertrekdatum moet eerder zijn dan de terugkomstdatum.
          </div>
      </div>

      <!-- return date fields-->
      <div class="form-group m-2 col-5">
        <label for="terugkomstDatumTrip">Terugkomst datum *</label>
        <input type="datetime-local" class="form-control" id="terugkomstDatumTrip" [(ngModel)]="trip.returnDate"
          name="terugkomstDatumTrip" #terugkomstDatumTrip="ngModel">
          <div [hidden]="terugkomstDatumTrip.valid || terugkomstDatumTrip.pristine" class="alert alert-danger">
            Terugkomst datum is verplicht.
          </div>
      </div>
    </div>

    <div class="form-row" *ngFor="let location of trip.tripCountries; let i = index">
      <!-- city field -->
      <div class="form-group m-2 col-5">
        <label for="cityTrip{{i}}">Stad *</label>
        <input type="text" class="form-control" id="cityTrip{{i}}" name="cityTrip{{i}}"
          [(ngModel)]="location.cityName" #cityName="ngModel" required>
        <div [hidden]="cityName.valid || cityName.pristine" class="alert alert-danger">
          Stad is verplicht.
        </div>
      </div>
    
      <!-- country field -->
      <div class="form-group m-2 col-5">
        <label for="country{{i}}">Land *</label>
        <select class="form-control" [id]="'country' + i" name="country{{i}}" [(ngModel)]="location.countryId" required>
          <option *ngFor="let country of tripCountry$ | async" [value]="country.id" >
            {{ country.name }}
          </option>
        </select>
        <div [hidden]="location.countryId !== 0 || location.countryId" class="alert alert-danger">
          Land is verplicht.
        </div>
      </div>
    </div>

  
    <!-- ispublic field-->
    <div class="form-row">
      <div class="form-group m-2 col-5">
        <label for="isPublicCheckbox" class="mr-2 ">Is Publiek?</label>
        <input type="checkbox" id="isPublicCheckbox" [(ngModel)]="trip.isPublic" name="isPublic" #isPublic="ngModel">
      </div>
      <!-- Button for adding extra fields or deleting fields for location -->
      <div class="align-self-end m-2 col-5 justify-content-between" style="display: flex;">
        <button type="button" class="btn btn-outline-info" (click)="extraCountryFields()">Extra locaties
          toevoegen</button>
        <button type="button" class="btn btn-outline-danger" (click)="removeLocationFields()"
          *ngIf="trip.tripCountries.length > 0">Verwijder locatie</button>
      </div>
    </div>

    <!-- submit form -->
    <div class="pt-5">
      <input type="submit" class="btn btn-outline-info" value="Trip bewerken" />
      <a (click)="back()" class="btn btn-outline-secondary ml-4 "><i
        class="fa-solid fa-rotate-left "></i>&nbsp;Terug</a>
    </div>

  </form>
</div>

<script src="../create-trip/create-trip.component.ts"></script>