<ng-container *ngIf="trip$ | async as trip">
  <div class="container">
    <h1 class="mb-4 mt-4">Details {{ trip.name }}</h1>
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <table class="table">
          <tbody>
            <tr>
              <th>Naam</th>
              <td>{{ trip.name }}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{ trip.tripType.name }}</td>
            </tr>
            <tr>
              <th>Locaties</th>
              <td>
                <ul>
                  <li *ngFor="let country of trip.tripCountries; let i = index">
                    {{ country.cityName }} ({{ country.name }})
                    <button
                      data-toggle="modal"
                      [attr.data-target]="'#weatherModal' + i"
                      class="btn btn-outline-secondary"
                    >
                      <i class="fa-solid fa-cloud-sun-rain"></i>
                    </button>
                    <app-weather-modal
                      [country]="country.name"
                      [city]="country.cityName"
                      [modalId]="'weatherModal' + i"
                    ></app-weather-modal>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Vertrek Datum</th>
              <td>{{ trip.departDate | date : 'dd/MM/YYYY' }}</td>
            </tr>
            <tr>
              <th>Eind Datum</th>
              <td>{{ trip.returnDate | date : 'dd/MM/YYYY' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-around">
          <button (click)="back()" class="btn butt btn-block mt-2"
            ><i class="fa-solid fa-rotate-left"></i>&nbsp;Terug</button>
            <button (click)="generatePDF()" class="btn butt btn-block">
              + PDF
            </button>
            @if( trip.userId === userId ) {
            <button
              (click)="updateTripById(trip.id, trip)"
              class="btn butt btn-block">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            }
        </div>
      </div>

        <hr class="mr-3 ml-3" />
        <div class="col-md-6 col-lg-6 d-flex flex-column justify-content-betwee">
          <h3>Overzicht activiteiten</h3>
          <div>
            <ul
              class="m-4"
              *ngFor="
                let rangedate of findRange(trip.departDate, trip.returnDate)
              "
            >
              {{
                rangedate | date: 'dd/MM/yyyy'
              }}
              <div *ngFor="let activity of trip.activities">
                <li
                  *ngIf="
                    (rangedate | date : 'dd/MM/YYYY') ==
                    (activity.startTime | date : 'dd/MM/YYYY')
                  "
                >
                  <a class="activityList" (click)="openDialog(activity, trip.userId)">
                    {{ activity.startTime | date : "HH:mm" }} - {{ activity.name }}</a>
                </li>
              </div>
            </ul>
          </div>

          @if( trip.userId === userId ) {
          <div class="mt-auto w-50 text-center">
            <button
              (click)="addActivity(trip.id)"
              id="buttonActiviteitenToevoegen"
              class="btn butt btn-block"
              >Activiteit toevoegen</button
            >
          </div>
          }
      </div>
    </div>
  </div>
</ng-container>
