<!--Hier komt de nav bar -->
<div class="container">
  <h1 class="text-center">Maak een trip aan</h1>

  <form #tripForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group m-2 col-5">
        <label for="naamTrip" class="form-label">Naam</label>
        <input type="text" class="form-control" id="naamTrip" name="naamTrip" [(ngModel)]="trip.name" #name="ngModel"
          placeholder="Geef je trip een naam" required>
      </div>

      <div class="form-group m-2 col-5" *ngIf="tripType$ | async as tripType">
        <label for="typeTrip">Soort trip</label>
        <select id="typeTrip" class="form-control" required [(ngModel)]="trip.tripTypeId" #tripTypeId="ngModel"
          name="typeTrip">
          <option selected disabled>Welke soort trip ga je maken?</option>
          <option *ngFor="let type of tripType" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>

    </div>
    <div class="w-100"></div>
    <div class="form-row">
      <div class="form-group m-2 col-5">
        <label for="vertrekDatumTrip">Vertrek datum</label>
        <input type="datetime-local" name="vertrekDatumTrip" class="form-control" id="vertrekDatumTrip"
          [(ngModel)]="trip.departDate" #departDate="ngModel" required>
      </div>
      <div class="form-group m-2 col-5">
        <label for="terugkomstDatumTrip">Terugkomst datum</label>
        <input type="datetime-local" name="terugkomstDatumTrip" class="form-control" id="terugkomstDatumTrip"
          [(ngModel)]="trip.returnDate" #returnDate="ngModel" required>
      </div>
    </div>
    <div class="w-100"></div>

    <div class="form-row">
      <div class="form-group m-2 col-5">
        <label for="stadTrip">Stad</label>
        <input type="text" class="form-control" id="stadTrip" [(ngModel)]="selectedCountry.cityName" #cityName="ngModel"
          name="cityName" placeholder="Naar welke stad ga je op je trip?">
      </div>

      <div class="form-group m-2 col-5" *ngIf="tripCountry$ | async as tripCountry">
        <label for="landTrip">Land</label>
        <select [(ngModel)]="selectedCountryId" name="countryName" class="form-control">
          <option *ngFor="let country of tripCountry" [value]="country.id">
            {{ country.name }}
          </option>
        </select>

      </div>
      <br>
    
      <div class="form-group m-2 col-5">
        <label for="isPublicCheckbox" class="mr-2">Is Publiek?</label>
        <input type="checkbox" id="isPublicCheckbox" [(ngModel)]="trip.isPublic" name="isPublic">
      </div>
      <div class="align-self-end m-2 col-5">
        <button type="button" class="btn btn-outline-info" (click)="addNewLocationFields()">Extra locaties toevoegen</button>
      </div>
    </div>

    <div class="form-row">
      <div *ngFor="let location of trip.country; let i = index">
        <div class="form-group m-2 col-5">
          <label for="city{{i}}">Stad</label>
          <input type="text" class="form-control" id="city{{i}}" name="city{{i}}" [(ngModel)]="trip.country[i].cityName">
        </div>
    
        <div class="form-group m-2 col-5">
          <label for="country{{i}}">Land</label>
          <select class="form-control" [id]="'country' + i" name="country{{i}}" [(ngModel)]="trip.country[i].countryId">
            <option *ngFor="let country of tripCountry$ | async" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <hr class="dashed">

    <input type="submit" class="btn btn-outline-info btn-lg" value="Trip opslaan" />
  </form>

  <script src="../create-trip/create-trip.component.ts"></script>