<div class="jumbotron">
    <div class="container">
      <h1 class="display-1">Trip Planner</h1>
      <p>Blijf niet dromen, plan gewoon.</p>
      @if(!isAuthenticated()) {
      <!-- Redirect to register -->
      <p><a class="btn btn-primary btn-lg" (click)="handleSignUp()" role="button">Starten &raquo;</a></p>
      }
    </div>
  </div>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/homepage-icon-3.svg" width="300" alt="Card image cap">
      </div>
      <div class="col-md-6 float-right">
        <h2>Plan je eigen trips</h2>
        <p>Ontdek je ideale bestemming, voeg persoonlijke activiteiten toe en behoud flexibiliteit met onze tripplanner. Creëer moeiteloos jouw perfecte trip en pas deze eenvoudig aan, voor een onvergetelijke en op maat gemaakte ervaring. Plan vandaag nog je eigen avontuur!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Deel met je vrienden en familie</h2>
        <p>Op vakantie gaan doe je meestal niet alleen. Nodig uit wie je graag mee wilt meenemen, zodat ook zij de volledige planning en informatie kunnen zien. Niets is makkelijker om te zorgen dat iedereen op het juiste moment op de vertrekplaats is en je niemand vergeet.</p>
        <p>Natuurlijk kan je de trip ook gewoon delen met je vrienden om hen jaloers te maken.</p>
      </div>
      <div id="foto" class="col-md-4">
        <img src="../../assets/homepage-icon-4.svg" width="225" alt="Card image cap">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 float-left">
        <img src="../../assets/homepage-icon-5.svg" width="300" alt="Card image cap">
      </div>
      <div class="col-md-6 float-right">
        <h2>Doe inspiratie op</h2>
        <p>Maak niet alleen je eigen trips, maar kijk gerust ook eens door de publieke trips. Wie weet wat valt er nog te ontdekken. Laat je leiden door de ervaringen en planning van anderen.</p>
      </div>
    </div>

  </div> 

  