  <h1 class="mt-3 ml-4 mb-2 text-center">Uw Trips</h1>
  <hr width="50%">
  <div class="addButton">
    <a routerLink="/tripaanmaken" class="btn add ml-4 btn-lg"><i class="fa-solid fa-plus"></i> Toevoegen</a>
  </div>
  <div class="con">
    <div class="card mt-4 ml-4" style="width: 23rem;" *ngFor="let t of (trips$ | async)">
        <img class="card-img-top" src="../../assets/{{t.tripType.id}}.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ t.name }}</h5>
          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <button class="btn mr-3 watch" (click)="detail(t.id)"><i class="fa-solid fa-eye"></i>&nbsp;Bekijk</button>
            <button href="#" class="btn watch mr-3"><i class="fas fa-globe"></i>&nbsp;Share</button>
            <button href="#" class="btn trash"><i class="fas fa-trash"></i>&nbsp;Verwijder</button>
          </div>
        </div>
      </div>
  </div>