
@media (min-width: 450px) { 
    .con{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
@media (min-width: 768px) { 
    .con{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
.addButton{
    text-align: center;
}
h1, h5{
    font-family: 'Sanchez', serif;
}
.description{
    font-family: 'Heebo', sans-serif;
}
.add{
    border: 1.5px solid #4e7779;
    color: #4e7779; 
    padding-left: 12px;
    padding-right: 12px;
}
.add:hover{
    background-color: #4e7779;
    color: white; 
}
.trash{
    border: 1.5px solid #ff6961;
    color: #ff6961; 
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
}
.trash:hover{
    background-color: #ff6961;
    color: white; 
}
.add{
    width: 23rem;
    max-width:23rem;
}
.watch{
    border: 1.5px solid #4e7779;
    color: #4e7779; 
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
}
.watch:hover{
    background-color: #4e7779;
    color: white; 
}
.mid{
    display: flex;
    justify-content: center;
}
